.jfx-slider .thumb{
    -fx-background-color: #13F64F;
}

.combo-box .list-cell {
    -fx-text-fill: white
}

.combo-box .list-view .list-cell {
    -fx-text-fill: black
}

.jfx-text-field {
    -fx-text-inner-color: white;
}

.jfx-list-cell:filled:selected {
    -fx-background-color: transparent ,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: 0 ;
}
